# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


#common filters
.DS_Store
thumbs.db
.svn
*.pbxuser
*.mode1v3
*.perspectivev3

#build trash
Build/VC9/*.ncb
Build/VC9/*.suo
Build/VC9/*.user
Build/VC9/Debug/*
Build/VC9/Release/*

olli_todo.txt
/Build/VC9/~AutoRecover.falling_everything.vcproj
